<!DOCTYPE html>

<html>
	<head>
		{% load static %}

  		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		<meta name="description" content="">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>БСК - taxi</title>
  		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

 	</head>
 	<body>

 		<!-- Modal -->
 		<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
 			<div class="modal-dialog modal-dialog-centered" role="document">
 				<div class="modal-content">
 					<div class="modal-header">
 						<h5 class="modal-title" id="exampleModalCenteredLabel">Modal title</h5>
 						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
 							<span aria-hidden="true">&times;</span>
 						</button>
 					</div>
 					<div class="modal-body">
 						...
 					</div>
 					<div class="modal-footer">
 						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 						<button type="button" class="btn btn-primary">Save changes</button>
 					</div>
 				</div>
 			</div>
 		</div>




 		
 		<div class="d-flex flex-row py-4 ">
 			<div class="p-2">ФАМИЛИЯ ИМЯ</div>
 		</div>

 		<table class="table">
 			<thead class="thead-dark">
 				<tr>
 					<th>#</th>
 					<th>Дата</th>
 					<th>Ставка</th>
 					<th>ГСМ</th>
 					<th>Штрафы</th>
 					<th>Наличные</th>
 					<th>Безналичные</th>
 					<th></th>
 					<th>Долг</th>
 				</tr>
 			</thead>
 			<tbody>
 				<tr>
 					<th scope="row">1</th>
 					<td>24.01.2020</td>
 					<td>1200</td>
 					<td>800</td>
 					<td><span>500</span></td>
 					<td>0</td>
 					<td>5365</td>
 					<td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCentered">
 						&#9998;
 					</button></td>
 					<td>-</td>
 				</tr>
 				<tr>
 					<th scope="row">2</th>
 					<td>24.01.2020</td>
 					<td>1200</td>
 					<td>800</td>
 					<td>0</td>
 					<td>0</td>
 					<td>1345</td>
 					<td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCentered">
 						&#9998;
 					</button></td>
 					<td>-</td>
 				</tr>
 				<tr>
 					<th scope="row">3</th>
 					<td>24.01.2020</td>
 					<td>1200</td>
 					<td>800</td>
 					<td>0</td>
 					<td>0</td>
 					<td>5365</td>
 					<td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCentered">
 						&#9998;
 					</button></td>
 					<td>-</td>
 				</tr>
 			</tbody>
 		</table>

 		
 	</body>	
</html>